@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Cabin", sans-serif;
  background-color: #18191c;
}

/* HOME SCROLL EFFECT */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

.scroll-wrapper {
  animation: scroll 20s linear infinite;
  width: max-content;
}

.scroll-container {
  overflow: hidden;
}

.scroll-wrapper:hover {
  animation-play-state: paused;
}

/* GIT CALENDAR */
.react-activity-calendar__count {
  color: white !important;
}

.react-activity-calendar__legend-colors {
  color: white !important;
}

.calendar-container svg text {
  fill: white !important;
}

.calendar-container svg rect {
  rx: 2; /* Rounded corners */
}
