@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Cabin", sans-serif;
  background-color: #18191c;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-left {
  animation: scrollLeft 20s linear infinite;
}

.scroll-container {
  overflow: hidden;
  white-space: nowrap;
}
